@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy-Regular', sans-serif;                   
}

li, a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 41px 74px 0 80px;
    overflow: hidden;
    color: #fff;
}

header nav li {
    display: inline-block;
    list-style: none;
}

header nav li {
    margin: 10px 25px;
    padding: 10px 5px;
}

.logo {
    position:relative;
    right: 18px;
}


.hero-section {
    background-image: url(Media/Images/Backgrounds/hero-sectiong-background.png);
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section area {
    background-color: white;
    border: 10px solid white;
}
.hero-container-text {
    margin-top: 65px;
    color: white;
    position: relative;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-container-text h2 {
    font-size: 70px;
    width: 861px;
    text-align: center;
    padding: 15px;
}

.hero-container-text p {
    padding: 15px;
    margin: 10px 5px 15px 5px;
    font-size: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 344px;
    height: 56px;
    border-radius: 30px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
}

.search-bar input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-radius: 25px;
}

.search-bar button {
    align-items: center;
    background-color: orange;
    border: none;
    border-radius: 50%;
    font-size: 35px;
    width: 45px;
    height: 45px;
    margin-left: 75px;
}

.search-bar button img {
    width: 30px;
}

/* items section */

.articles-section , .items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 25px;
    gap: 35px;
}

.articles-section h2 {
    font-size: 42px;
}

.articles-section .item h3 {
    display: block;
    font-size: 24px;
    margin-block-start: 15px;
    margin-block-end: 15px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.items-container .item p  {
    padding: 20px 20px 0px 0;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 29.6px;
    font-weight: 100;
    color: #1e1e1e8f;
}

.items-container .item a {
    color: orange;
}

.buttons-container {
    display: flex;
}

.buttons-container {
    display: flex;
    background-color: #EEEEEE;
    width: 389px;
    height: 52px;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;

}

.buttons-container button {
    width: 75%;
    height: 85%;
    border-radius: 25px;
    background-color: #EEEEEE;
    border: none;
    margin: 5px;
}

.buttons-container button:hover {
    background-color: white;
}

.products-section {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    margin-bottom: 50px;
}

.products-section h2 {
    margin: 10px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 42px;
}

.products-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: left;
    height: 592px;
    padding-bottom: 50px;
}

.products-list .product .info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: bottom;
}

.products-list .product .info {
    background-color: #FFFFFF;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding: 10px 10px; 
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-position: bottom;
}

.products-list .product div button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    margin: 20px;
}

.products-list .product{
    margin-top: 40px;
    text-align: left;
    left:  2.5rem;
}

.checked {
    color: orange;
}

.product img {
    width: 220px;
    height: 290px;
}

.experiense-section {
    margin-top: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 70px;
    margin-bottom: 180px;
}

.fourth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 306px;
    margin-bottom: 250px;
}

.fourth-container-wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 141px;
    position: relative;
}

.rec1 {
    width: 495px;
    height: 422px;
    position: absolute;
    left: -131px;
    top: -62px;
    background-color: #F7F7F7;
    border-radius: 20px;
}

.rec2 {
    width: 495px;
    height: 301px;
    position: absolute;
    left: 200px;
    top: 60px;
    background-color: #F7F7F7;
    border-radius: 20px;
}

.rec3 {
    width: 555px;
    height: 423px;
    position: absolute;
    left: 25px;
    top: 20px;
    background-color: #f7f7f742;
    box-shadow: 0 30px 22px #000000a9;
    border-radius: 49px;
}

#expirience-img {
    width: 629px;
    height: 445px;
    z-index: 100;
}

.article {
    text-align: left;
    width: 556px;
    position: relative;
}

.article p:first-child {
    text-transform: uppercase;
    color: orange;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
}

.article p {
    font-size: 18px;
    padding: 15px;
    margin: 10px;
}

.article h2 {
    text-transform: capitalize;
    font-size: 42px;
    padding: 15px;
    margin: 5px;
}

.second-article {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 150px;
}

.second-article .images-container {
    display: flex;
    align-items: center;
}

.second-article .two-image{
    position: relative;
}

.reviews-section {
    margin: 150px;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.review-item {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
}

.review-item div{
    position: absolute;
    bottom: 18px;
    width: 334px;
    height: 269px;
    background-color: rgba(255, 255, 255, 1);
    padding: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-item div > p {
    bottom: 40px;
}
.review-item div  > h3 {
    margin: 5px;
    position: relative;
    bottom: 25px;
}
.review-item div .background {
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 30px;
    background-position: center;
    border-radius: 50%;
}

.review-item div img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 8px 6px 0 #00000045;
}

.review-item .background:before {
    content: "";
    position: absolute;
    bottom: 50px;
    height: 18px;
    width: 20px;
    rotate: 180deg;
    border-top-left-radius: 15px;
    box-shadow: 0 -9px 0 0 white;
    right: 73px;
}


.review-item .background:after {
    content: "";
    position: absolute;
    bottom: 50px;
    height: 18px;
    width: 20px;
    rotate: 180deg;
    border-top-right-radius: 17px;
    box-shadow: 0 -9px 0 0 white;
    left: 73px;
}

.review-item div > p{
    position: relative;
    bottom: 25px;
    padding: 5px;
    margin: 5px;
}

.photo {
    box-shadow: 0px 5px 0px 5px black;
}



footer {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.footer-container span h2, p {
    padding: 10px;
}

.footer-container .other h2 {
    color: orange;
}
.footer-container .main-info {
    width: 300px;
}

.copyrith-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 900px;
}
