* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-seri';
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Sets the body height to the full viewport height */
    background-color: #080710;
}


/* form styling */
form {
    height: 520px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
}

/* form content styling */
form h2{
    text-align: center;
}

form h2, input{
    margin-bottom: 40px;
}

form input {
    background-color: rgba(255, 255, 255, 0.07);
    padding: 15px;
    border-radius: 8px;
    border: none;
}

form label {
    margin-bottom: 5px;
}


/* login button styling */
form button {
    border-radius: 8px;
    border: none;
}

form .login-button {
    margin-bottom: 30px;
    padding: 14px;
    font-weight: bold;
    font-size: 25px;

}

form .login-button:hover {
    cursor: pointer;
    background-color: #cbcbcb;
}

form .login-button:active {
    background-color: white;
}

/*  shapes styling*/
.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}



/* social buttons styles */
.social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    font-size: 17px;
}

.social button svg{
    height: 30px;
    width: 30px;
}

.social button:hover{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.507);
    color: #eaf0fb;
    font-size: 17px;
}